body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* .App{
  display: flex;
} */

.player-elements {
  z-index: 0;
  /* position:relative; */
}

.video-container{
  position: relative;
}

.video-container video{
  width: 620px;
  height: 480px;
}

.hello-world {
  font-size: 1rem;
  position: absolute;
  top: 80px;
  left: 20px;
  z-index: 80;
  /* background-color: aliceblue; */
}
